{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
<nav class="navbar shadow navbar-expand-lg navbar-light bg-light">
    {% if logged_in %}
        {% if is_super %}SUPER: {% endif %}{{ user.name }}
        <a class="ml-auto my-2 btn btn-danger" href={% url 'logout' %}>Logout</a>
    {% else %}
        SuperUser: {{ super_user }}
    {% endif %}
</nav>
<div class="container">
    {% if logged_in %}
        {% include 'departament_editor.html' %}
        {% if is_super %}
            {% include 'worker_editor.html' %}
        {% endif %}
        {% for worker in worker_list %}
            <div class="modal fade" id="editWorker{{ worker.id }}Modal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Worker Editor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'update-worker' worker.id %}" method="post">
                                {% csrf_token %}
                                {% bootstrap_form worker.form %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-primary">
                                        Save
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                    </button>
                                {% endbuttons %}
                            </form>
                        </div>
                        <div class="modal-footer d-block">
                            <div class="d-flex justify-content-between">
                                <h3>Trainings</h3>
                                <button type="button" class="btn btn-secondary" data-toggle="modal"
                                        data-target="#trainingAdder{{ worker.id }}">Add Training
                                </button>
                            </div>
                            {% if worker.trainings %}
                                <ul class="list-group mt-2">
                                    {% for training in worker.trainings %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            {{ training }}
                                            <a class="btn btn-danger" href="{% url 'delete-training' training.id %}">Delete</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="modal fade" id="trainingAdder{{ worker.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content shadow-lg">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add Training</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'add-training' worker.id %}" method="post">
                                                {% csrf_token %}
                                                {% bootstrap_form training_creator %}
                                                {% buttons %}
                                                    <button type="submit" class="btn btn-primary">
                                                        Save
                                                    </button>
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                {% endbuttons %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form login_form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        {% endbuttons %}
    {% endif %}
    </form>
</div>